:root{
    --text-colour: #ffffff;
    --link-colour: #1a73e8;
    --background-colour: #04011c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-colour);
}

a {
    color: var(--link-colour);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;

}
