:root{
    --text-colour: #ffffff;
    --link-colour: #1a73e8;
    --background-colour: #04011c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--background-colour);
}

a {
    color: var(--link-colour);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 80px;
}

/* The sidebar menu */
nav .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
nav .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
nav .sidenav a:hover {
  color: #f1f1f1;
}

.homepage {
    padding: 500px;
    justify-self: unset;
    font-size: 30px;
    color: var(--text-colour);}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
